@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    background-color: #F2F2F2;
    color: #353C43;
    font-family: 'Jost-Light', 'sans-serif';
    font-size: 12px;
    margin: 0;
}

@font-face {
    font-family: 'Jost-Light';
    src: url('./assets/fonts/Jost-Light.ttf') format('truetype');
  }

@font-face {
    font-family: 'Jost-Regular';
    src: url('./assets/fonts/Jost-Regular.ttf') format('truetype');
  }

  :root {
    --bg-color: white;
    --text-color: black;
    --hover: gray;
    --button-text: black;
    --border: black;
    --placeholder:white;
}


[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: white;
    --hover: #2D3748;
    --button-text: white;
    --border:white;
    --placeholder:black;
}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

button {
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover); 
}

.hover-link:hover {
    background-color: var(--hover);
}